@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@section CustomStyles {
    <link rel="stylesheet" href="@Url.Content("~/css/loginAndregister.css")" />
}

<div class="pass-confirmation-wrapper">
    <div class="content-wrapper">
        <div class="title-holder">
            <h3>Forgot Password Confirmation</h3>
            <p>We already sent you a confirmation link <br />Please check and confirm your email <br />to reset your Password</p>
        </div>
        <div class="confirm-pass-btn">
            <span>
                <a asp-page="./Login">
                    Done
                </a>
            </span>
        </div>
    </div>
</div>

