@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


@section CustomStyles{
    <link rel="stylesheet" href="@Url.Content("~/css/loginAndregister.css")" />
}


<div class="login-main-container">
    <div class="wrapper">
        <div class="title">
            <h5 class="ps-3 text-light">Forgot Password</h5>
        </div>
        <div class="row formHolder">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger validation" role="alert"></div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div id="inputHolder">
                    <i class="fa-solid fa-envelope icon"></i>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
                </div>
                <div id="btnHolder">
                    <button type="submit" class="submit-button text-center">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
