@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "_LayoutNoSidebar";
}

@section CustomStyles {
    <link rel="stylesheet" href="@Url.Content("~/css/loginAndregister.css")" />
}


<div class="reg-confirm-main">
    <div class="reg-confirm-wrapper">
        <h4>@ViewData["Title"]</h4>
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </p>
            }
            else
            {
                <p>
                    Please check your email to confirm your account.
                </p>
            }
        }
        <button class="btn btn-primary w-100">
            <a asp-page="./Login">
                <span>
                    Back to Login
                </span>
            </a>
        </button>
    </div>
</div>
