@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


@section CustomStyles {
    <link rel="stylesheet" href="@Url.Content("~/css/loginAndregister.css")" />
}



<div class="register-main-container">
    <div class="register-wrapper">
        <div class="row reg-title">
            <h5 class="text-light">Reset Password</h5>
        </div>
        <div class="row register-holder">
            <form id="registerForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger validation" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-envelope reg-icon"></i>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-lock reg-icon"></i>
                    <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-lock reg-icon"></i>
                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                </div>
                <button type="submit" class="reg-submit">
                    Confirm
                </button>
            </form>
        </div>
    </div>
</div>






<!--div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</!--div-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
