@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_LayoutNoSidebar";
}
@section CustomStyles {
    <link rel="stylesheet" href="@Url.Content("~/css/loginAndregister.css")" />
}

<div class="pass-confirmation-wrapper">
    <div class="content-wrapper">
        <div class="title-holder">
            <h3>Reset Password Confirmation</h3>
            <p>
                Your password has been reset.
            </p>
        </div>
        <div class="confirm-pass-btn">
            <span>
                <a asp-page="./Login">
                    Login Here
                </a>
            </span>
        </div>
    </div>
</div>

@*
<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
*@