@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNoSidebar";
}


@section CustomStyles{
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")" />
}

<div class="navbar-wrapper">
   <div class="content">
        <nav class="navbar">
            <div class="navbar-holder">
                <div class="navbarbrand">
                   <h4><a asp-action="Index" asp-controller="Home">Expense Tracker</a></h4>
                </div>
                <div class="navbar-ul">
                    <ul id="home-navbar-ul">
                        <li>
                            <a asp-action="Index" asp-controller="Home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Dashboard">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Category">
                                Category
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Transaction">
                                Transaction
                            </a>
                        </li>
                    </ul>
                </div>
                <button id="home-navbar-toggle" class="navbar-toggle">☰</button>
            </div>
        </nav>
   </div>
   <div class="second-content">
       <div class="header-title">
            <h2>Effortlessly Manage Your Finances</h2>
            <p>A Comprehensive Solution to Track Expenses, Income, and Save Smartly</p>
            <div class="home-btn-holder">
                <button>login</button>
                <button>Explore</button>
            </div>
       </div>
   </div>
</div>

@section CustomScripts{
    <script src="@Url.Content("~/js/homepage.js")"></script>
}


