@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNoSidebar";
}


@section CustomStyles{
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")" />
}

<div class="home-main-wrapper">
   <div class="content">
        <nav class="navbar">
            <div class="navbar-holder">
                <div class="navbarbrand">
                   <h4>Expense Tracker</h4>
                </div>
                <div class="navbar-ul">
                    <ul id="home-navbar-ul">
                        <li>
                            <a asp-action="Index" asp-controller="Home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Dashboard">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Category">
                                Category
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Transaction">
                                Transaction
                            </a>
                        </li>
                    </ul>
                </div>
                <button id="home-navbar-toggle" class="navbar-toggle">☰</button>
            </div>
        </nav>
   </div>
   <div class="second-content">
   </div>
</div>

@section CustomScripts{
    <script src="@Url.Content("~/js/homepage.js")"></script>
}


