@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNoSidebar";
}


@section CustomStyles{
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")" />
}

<div class="navbar-wrapper">
   <div class="content">
        <nav class="navbar">
            <div class="navbar-holder">
                <div class="navbarbrand">
                   <h4><a asp-action="Index" asp-controller="Home">Expense Tracker</a></h4>
                </div>
                <div class="navbar-ul">
                    <ul id="home-navbar-ul">
                        <li>
                            <a asp-action="Index" asp-controller="Home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Dashboard">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Category">
                                Category
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Transaction">
                                Transaction
                            </a>
                        </li>
                    </ul>
                </div>
                <button id="home-navbar-toggle" class="navbar-toggle">☰</button>
            </div>
        </nav>
   </div>
   <div class="second-content">
       <div class="header-title">
            <h2>Effortlessly Manage Your Finances</h2>
            <p>A Comprehensive Solution to Track Expenses, Income, and Save Smartly</p>
            <div class="home-btn-holder">
                @if (SignInManager.IsSignedIn(User))
                {
                    <form class="form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <div class="signout-btn" id="btn-holder"> 
                                <button type="submit">
                                    <span>
                                        Sign Out <i class="fa-solid fa-circle-arrow-right"></i>
                                    </span>
                                </button>
                            </div>
                    </form>
                }
                else
                {
                    <div class="signin-btn" id="btn-holder">
                        <a asp-area="Identity" asp-page="/Account/Login">
                            <span>
                                Sign In
                            </span>
                        </a>
                    </div>
                    <div class="signup-btn" id="btn-holder">
                        <a asp-area="Identity" asp-page="/Account/Register">
                            <span>
                                Sign Up
                            </span>
                        </a>
                    </div>
                }
            </div>
       </div>
   </div>
</div>
<div class="second-main-section">
    <div class="second-title">
        <span>Benefits of Using Our Expense Tracker</span>
   </div>
   <div class="description-holder">
      <div class="descriptions">
          <div class="description-1">
              <div class="description-1-content">
                    <span>Detailed Expense Logging</span>
                    <p>Keep a precise record of all your expenses, organized by customizable categories such as groceries, utilities, entertainment, and more. This helps you understand your spending patterns.</p>
              </div>
          </div>
          <div class="description-2">
                <div class="description-2-content">
                    <span>In-Depth Financial Insights</span>
                    <p>Our comprehensive analytics tools, including charts and reports, provide valuable insights into your spending habits and financial health. This empowers you to make informed decisions and identify areas for improvement.</p>
                </div>
          </div>
      </div>
      <div class="descriptions-2">
          <div class="description-3">
               <div class="description-3-content">
                    <span>Personalization and Flexibility</span>
                    <p>The user profile update feature allows you to personalize your account by updating your profile image, name, and sources of income. This ensures that your profile remains current and relevant.</p>
               </div>
          </div>
          <div class="description-4">
               <div class="description-4-content">
                    <span>User-Friendly Experience</span>
                    <p>Designed with simplicity in mind, the app offers an intuitive interface that makes financial management accessible to everyone, regardless of their technical expertise.</p>
               </div>
          </div>
        </div>
    </div>
</div>

@section CustomScripts{
    <script src="@Url.Content("~/js/homepage.js")"></script>
}


