@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNoSidebar";
}


@section CustomStyles{
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")" />
}

<div class="home-main-wrapper">
   <div class="content">
        <nav class="navbar">
            <ul>
                <li>Logo</li>
                <li>Home</li>
                <li>Analytics</li>
                <li>Category</li>
                <li>Transaction</li>
                <li>Login</li>
            </ul>
        </nav>
   </div>
   <div class="second-content">
       <h1>Second Content</h1>
   </div>
</div>
