<div class="navBar">
    <ul class="navUl">
        <li>
            <a asp-controller="Home" asp-action="Index">
                <span><i class="fa-solid fa-house"></i> Home</span>
            </a>
        </li>
        <li>
            <a asp-controller="Dashboard" asp-action="Index">
                <span>
                    <i class="fa-solid fa-chart-line"></i> Dashboard
                </span>
            </a>
        </li>
        <li>
            <a asp-controller="Category" asp-action="Index">
                <span>
                    <i class="fa-solid fa-list"></i> Category
                </span>
            </a>
        </li>
        <li>
            <a asp-controller="Transaction" asp-action="Index">
                <span>
                    <i class="fa-solid fa-list"></i> Transactions
                </span>
            </a>
        </li>
        <li>
            <button type="button" id="toggle-btn">
                <span>
                    <i class="fa-solid fa-circle-arrow-right"></i>  Sidebar
                </span>
            </button>
        </li>
    </ul>
</div>