@{
    var user = ViewBag.User;
}

<div class="navBar" id="navBar">
    <ul class="navUl">
        <li class="toggle-btn" style="@(ViewData["Admin"]?.ToString() == "Admin"? "display: none" : "")">
            <button type="button" onclick="sidebarOnclick()" id="toggle-btn">
                <span>
                    <i class="fa-solid fa-angles-right" id="right-arrow"></i>
                </span>
            </button>
        </li>
        <li id="notif-bell">
             <button>
                 <span>
                    <i class="fa-solid fa-bell"></i>
                 </span>
             </button>
             <div class="drop-down" id="notif-dropdown">
                 <ul id="notif-uldd">
                     <li>
                         <span>
                             sample
                         </span>
                     </li>
                 </ul>
             </div>
        </li>
        <li>
            <div class="navbar-profile">
                @if (!string.IsNullOrEmpty(user.ProfilePicturePath))
                {
                   <a asp-action="Index" asp-controller="UploadProfilePicture">
                        <img src="~/@user.ProfilePicturePath" alt="Profile Picture" class="profile-picture" />
                   </a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="UploadProfilePicture">
                        <img src="~/Images/defaultprofile.jpg" alt="Profile Picture" class="profile-picture" />
                    </a>
                }
            </div>
        </li>
    </ul>
</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/microsoft/signalr/dist/browser/signalr.min.js"></script>
}
@section CustomScripts {

    <script src="@Url.Content("~/js/ComponentUI.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>
    <script src="@Url.Content("~/js/adminsendnotification.js")"></script>

}

