
.main-wrapper{
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 100%;
}

.table-wrapper {
    background: #17181d;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
}

.upper-section{
    display: flex;
    padding: 5px 0 5px 0;
}

.upper-section a{
    text-decoration: none;
    font-size: .9em;
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
    margin-left: auto;
}

.table-wrapper table{
    background: #272e36;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
}

.adminnotif-table-content th,
.adminnotif-table-content td {
    padding: 10px 20px;
    font-size: .8em;
    color: #FFFFFF;
}

.action-button{
    padding: 5px;
    display: flex;
    gap: 15px;
}

