*{
    letter-spacing: 1px;
}

.title-container{
    color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
}
.title{
    font-size: 1.3em;
    align-items: center;
    display: flex;
    font-weight: 500;
    letter-spacing: 2px;
  
}

.title-container a {
    border-radius: 8px;
    font-size: .8em;
    box-shadow: 1px 1px 1px #dcdcdc;
}


.crud-main-container {
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 2px;
}

.crud-content{
    height: 100%;
    padding-top: 2px;
}

.search-bar-holder {
    background: #dcdcdc;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar-holder form{
    background: #181818;
    width: 30%;
    height: 40px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 1px;
}

.search-bar-holder form input{
    width: 85%;
    height: 100%;
    color: #9FA6B2;
    border: none;
    font-size: 1em;
    background: none;
    padding: 5px;
}


.search-bar-holder form button{
    float: right;
    width: 15%;
    height: 100%;
    border: none;
    text-align: center;
    padding: 0;
    font-size: 1.2em;
    background: none;

}

.search-icon {
    color: #9FA6B2;
}

.search-bar-holder form button:focus,
.search-bar-holder form input:focus{
    outline: none;
}
.filter {
    background: #181818;
    height: 40px;
    border-radius: 8px;
    width: 65%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
    box-shadow: 1px 1px 1px;
}


.filter span{
    font-size: .9em;
    color: #9FA6B2;
    font-weight: 500;
}


.table {
   
    padding: 10px;
}


@media only screen and (max-width: 768px) {
}

















/*
.main-container{
    min-height: 600px;
    border-radius: 5px;
    min-width: 450px;
    max-width: 440px;
}

/*Create Btn
.container #createBtn:hover
{
    opacity: 0.9;
}


/*search btn
.container form .input-group-prepend:hover
{
    opacity: 0.9;
}


/*Cancel Button - From Create and Update
.main-container form #btnHolder a
{
    background-color: transparent;
    border: 2px solid #dc3545;
    font-variant-caps: all-small-caps;
    color: #fff;
}

.main-container form #btnHolder a:hover 
{

     box-shadow: 0 0 8px #719ECE;
     color: #fff;
}
/*End - /*Cancel Button - From Create and Update*/

/*Category Table
th 
{
    background-color: #1F1A24 !important;   
}

table
{
    box-shadow: 5px;
}

#tableHolder div .btn
{
    border: 2px solid #198754;
    border-radius: unset;
}

#CategoryTypeBg{
    padding : 2px 6px 2px 6px;
    border-radius: 4px;
    font-size: .7em;
    width: 80px;
    display: inline-block;
    text-align: center;
    font-variant-caps: all-small-caps;
}


/*Category Table End
/*Search box
.input-group input {
    height: 40px;
    border: 2px solid #198754;
    border-radius: unset;
    width: 75%;
}

.input-group-prepend:focus
{
    border-color: #198754;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: larger;
}

.input-group .form-control:focus
{
    border-color: #198754;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: larger;
    transition: ease-in-out .5s;
}


.input-group-prepend button span
{
    border: none;
    background-color: #198754;
    color: #fff;
    
}
/*Search box end*/




/*Pagination*
.pagination {
    background-color: #1F1A24 !important;
}

.pagination li a, .pagination li a span
{
   
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: #198754;
    transition: ease-in-out .5s;
    text-align: center;
}

.pagination li
{
    margin-left: 5px;
}

.pagination li a
{
      text-align: center;
      border-radius: 5px;
}

.pagination li a:hover
{
      text-align: center;
      border-radius: 5px;
     // border: 2px solid #198754;
      border: none;
      transition: ease-in-out;
}


.pagination .page-item.disabled
{
   // background-color: #198754 !important;
    border-radius: 5px;
    transition: ease-in-out .5s;
}

.pagination .page-item.disabled span
{
    color: #fff;
    transition: ease-in-out .5s;
}

.pagination #nextPrev .page-link span:hover
{
    color: #fff;
}
/*Pagination End*/



/*Create Form from Create View*

/*title*
.main-container #title-holder h3
{
   font-variant-caps: all-small-caps
}

/*label*
.main-container form label
{
    color: #fff;
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-variant-caps: all-small-caps;
}

/*button*
.main-container form button
{
    background-color: transparent;
    border: 2px solid #198254;
    font-variant-caps: all-small-caps;
    color: #fff;
}

.main-container form button:hover 
{
     box-shadow: 0 0 8px #719ECE;
     color: #fff;
}

/*input*
.main-container form input:focus
{
    outline: none !important;
    border: 1px solid #198254;
    box-shadow: 0 0 10px #719ECE;
}

/*select*
.main-container form select:focus
{
    outline: none !important;
    border: 1px solid #198254;
    box-shadow: 0 0 10px #719ECE;
}

/*Create form*
@media only screen and (max-width: 992px) {



}

/*Success Modal Customization*

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

    .overlay .popup {
        background: #1F1B24;
        margin: auto;
        max-width: 400px;
        min-width: 30%;
        border-radius: 5px;
        padding: 20px;
        transition: all 1s ease-in-out;
        animation: popup;
        animation-duration: 2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-duration: 2s;
        -webkit-animation-duration: 2s;
        -moz-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
    }
    /*Modal popup animation*
    @keyframes popup {
        from {
            -moz-transform: translate(-0%, -100%) scale(0.1);
            -webkit-transform: translate(-0%, -100%) scale(0.1);
            -ms-transform: translate(-0%, -100%) scale(0.1);
        }

        to {
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
        }
     
    }
    /*Modal popup animation - End*
.overlay .popup img 
{
    width: 100px;
    margin-top: -65px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.overlay .popup h2
{
    margin-top: 10px;
    color: #FFFFFF;
    font-variant-caps: all-small-caps;
}

.overlay .popup p
{
    margin-top: 10px;
    color: #FFFFFF;
    word-wrap: break-word;
    width: 100%;
    text-align: center;
} 

.overlay .popup button
{
    border-radius: 20px/50px;
    border: none;
    background-color: #81F580;
    margin-top: 30px;
    width: 40%;
    height: 40px;
    color: #FFFFFF;
    font-variant-caps: all-small-caps;
    transition: background-color .5s ease-in-out;
}
    .overlay .popup button:hover {
        background-color: #B00020;
    }

/*Sorting Div*

#sortingDiv{
    width: 35%;
}
/*#198254*
#sortBtn {
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF ;
    font-weight: bold;
    float: right
}
*/