
#dash-main-div{
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

/*First Div*/
.firstDiv{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstDiv .row{
    column-gap: 10px;
    row-gap: 10px;
    padding: 1rem;
}

#col {
    min-height: 60px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0;
    background: #121212;
    display: flex;
    overflow: hidden;
}

.holder {
    height: 100%;
    background: #1F1B24;
    width: 25%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5vw;
}

.income #t-income h6, 
.expense #t-expense h6, 
.balance #t-balance h6 {

    width: 100%;
    font-size: 1vw;
    font-variant-caps: all-small-caps;
    color: #9FA6B2;
    text-align: start;
    padding-left: 4px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
}

.total-income .holder, 
.income #income-numbers h5 {

    color: #198754;
}

.total-expense .holder, 
.expense #expense-numbers h5 {

    color: #dc3545;
}

.total-balance .holder, 
.balance #balance-numbers h5 {

    color: #ffc107;
}


.income #income-numbers h5, 
.expense #expense-numbers h5, 
.balance #balance-numbers h5 {

    font-size: 1.7vw;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}

.income #income-numbers, 
.expense #expense-numbers, 
.balance #balance-numbers {

    height: 70%;
    display: flex;
    flex-direction: column;
}

/*End of First Div*/



