
* {
    letter-spacing: 1px;
}

/*start of login form*/

.login-main-container, .register-main-container{
    height:100%;
    align-content:center;
}


.validation ul{
    list-style-type: none;
    text-align: center;
    list-style: none;
    padding-left: 2px;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Libre Franklin";
    flex-direction: column;
    background-color: #080808; /*#000101*/
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: #17181d;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 18px;
    align-items: center;
    box-shadow: 1px 1px #e85d04; /*#fb4b4e // #852467*/
    min-width: 420px;
    max-width: 450px;
    padding-bottom: 30px;
}

form{

    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    padding: 10px;
}

#inputHolder {
    background-color: #0f0f0f;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.icon {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
    text-align: center;
    font-size: 1.2em;
    color: #595959; /*#e85d04*/
}

input::-webkit-input-placeholder {
    color: #FFFFFF !important;
}

input::-moz-placeholder {
    color: #FFFFFF;
}

#inputHolder input {
    width: 90%;
    height: 45px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #0f0f0f;
    color: #FFFFFF;
    border: none;
    float: right;
}


input:focus {
    outline: none;
    -webkit-text-fill-color: white !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    outline: none;
    caret-color: #FFFFFF !important;
}


.title {
    width: 90%;
    margin-top: 20px;
}

.title h5{
    font-weight: bold;
}

.formHolder{
    width: 90%;
}

#btnHolder {
    background: linear-gradient(to bottom left, #e85d04, #ba2c27, #3c096c);
    height: 45px;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 30px;
    transition: All .3s ease-in-out;
}

    #btnHolder:hover {
        box-shadow: 1px 1px #FFFFFF;
        letter-spacing: 5px;
    }

.submit-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 5px;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    transition: all .3s ease-in-out;
}

.submit-button:hover{
    padding-right: 15px;
}

.submit-button span{
    float: right;
}

.fa-arrow-right{
    font-size: 1.2em;
}

/*validation text*/
.text-danger{
    text-align: center;
    display: block;
    font-size: .8em;
    font-variant-caps: all-small-caps;
}
/*validation text end*/
.google-button {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 40px;
    background-color: #292c35;
    color: #FFFFFF;
    border: none;
    transition: All .3s ease-in-out;
    margin-top: 10px;
}

.google-button:hover{
    box-shadow: 1px 1px #FFFFFF;  
}

.google-button span{

    float: left;
    align-items: center;
    text-align: center;
    align-content: center;
}

.fa-brands{
    font-size: 1.2em;
    color: #FFFFFF;
}

#text-link {
    margin-top: 0px;
    text-align: center;
    padding-left: 2px;
    padding-right: 0px;
    width: 93%;
    margin: auto;
}

#text-link a{
    
    font-size: .8em;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
}

#text-link a:hover{
    color: #5acaf9;
    letter-spacing: 2px;
}


#register-link{
    float: left;
}

#forgot-password{
    float: right;
}
/*end of login form*/



/*start of registration form*/

.register-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: #17181d;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 18px;
    align-items: center;
    box-shadow: 1px 1px #e85d04; /*#fb4b4e // #852467*/
    min-width: 420px;
    max-width: 450px;
    padding-bottom: 30px
}


.register-holder{
    width: 100%;
}

.registerForm{
    width: 100%;
}



.register-holder input{

    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #0f0f0f;
    color: #FFFFFF;
    border: none;
    float: right;
    margin-left: auto;
}

.registerInput {

    background-color: #0f0f0f;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-bottom: 10px;
}

.reg-title{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 20px;
}


.reg-icon{

    width: 10%;
    text-align: center;
    margin: auto;
    font-size: 1.2em;
    color: #595959;

}

.reg-submit {
    
    margin-top: 10px;
    border: none;
    width: 100%;
    border-radius: 3px;
    height: 40px;
    background: linear-gradient(to bottom left, #e85d04, #ba2c27, #3c096c);
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1em;
}
.reg-submit:hover{
    box-shadow: 2px 2px #FFFFFF;
}

.reg-google-button {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 40px;
    background-color: #292c35;
    color: #FFFFFF;
    border: none;
    margin-bottom: 0;
    transition: All .3s ease-in-out;
    margin-top: 8px;
}

.reg-google-button:hover{
    box-shadow: 1px 1px #FFFFFF;  
}

.reg-google-button span{

    float: left;
    align-items: center;
    text-align: center;
    align-content: center;
}

.reg-google-button fa-brands{
    font-size: 1em;
    color: #FFFFFF;
}

.form-horizontal{
    padding-top: 0;
    padding-bottom: 0;
}

.register-holder #login-link{
    text-decoration: none;
    font-size: .8em;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}

#login-link-text {
    transition: all .3s ease-in-out;
}

#login-link-text:hover {
    color: #5acaf9;
    letter-spacing: 2px;
}

/*end of registration form*/

/*Password Confirmation*/

.pass-confirmation-wrapper{
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.pass-confirmation-wrapper .content-wrapper{
    background: #17181d;
    min-width: 420px;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px #e85d04
}

.content-wrapper .title-holder h3,
.content-wrapper .title-holder p{
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
}

.content-wrapper .title-holder p{
    font-size: .9em;
    padding-top: 15px;

}

.confirm-pass-btn{
    text-align: center;
}

.confirm-pass-btn span{
    background: linear-gradient(to bottom left, #e85d04, #ba2c27, #3c096c);
    display: inline-flex;
    align-items: center;
    height: 36px;
    width: 40%;
    padding: 20px;
    justify-content: center;
    border-radius: 3px;
    margin-top: 20px;
}

.confirm-pass-btn span:hover{
     box-shadow: 1px 1px #FFFFFF;
}

.confirm-pass-btn span a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: .9em;
    font-weight: 400;
}
/*End of Password Confirmation*/

.main-wrapper{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.external-login-wrapper {
    background: #17181d;
    min-width: 400px;
    max-width: 500px;
    height: 40px;
    min-height: 300px;
    border-radius: 8px;
    padding: 20px;
    padding-top: 30px;
    box-shadow: 1px 1px #e85d04
}

.external-login-wrapper p{
    font-size: .9em;
    letter-spacing: 1px;
    padding: 0 15px 0 15px;
}

.external-login-wrapper form{
}

.external-login-wrapper form input{
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    color: #FFFFFF;
}

.external-login-wrapper button{
   margin-top: 10px;
   height: 40px;
   font-size: .9em;
   letter-spacing: 1px;
   font-variant-caps:all-small-caps;
    
}

.reg-confirm-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-confirm-wrapper {
    background: #17181d;
    min-width: 400px;
    max-width: 500px;
    min-height: 200px;
    border-radius: 8px;
    padding: 20px;
    padding-top: 30px;
    box-shadow: 1px 1px #e85d04;
    color: #FFFFFF;
}

.reg-confirm-wrapper h4{
    letter-spacing: 1px;
}

.reg-confirm-wrapper p{
    letter-spacing: 1px;
    font-size: .9em;
    margin-top: 10px;
}

.reg-confirm-wrapper button{
    margin-top: 20px;
}

.reg-confirm-wrapper a{
    width: 100%;
    display: flex;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.reg-confirm-wrapper span{
    width: 100%;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: .9em;
    font-variant-caps: all-small-caps;
}

.main-confirm-email {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.main-confirm-email a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    letter-spacing: 1px;
    font-variant-caps: all-small-caps;
    padding-left: 2px;
}

.main-confirm-email a:hover{
     color: #5acaf9;
}




/*
.confirm-email-wrapper {
    background: #17181d;
    min-width: 400px;
    max-width: 500px;
    min-height: 200px;
    border-radius: 8px;
    padding: 20px;
    padding-top: 30px;
    box-shadow: 1px 1px #e85d04;
    color: #FFFFFF;
}
*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .wrapper {
        width: 70%;
    }
}