

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    // position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin";
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: "Libre Franklin";
}

body {
    background-color: #121212;
    height: 80vh;
    display: flex;
    margin: 0;
    padding: 0;
    transition: ease-in-out .3s;
}


/*Sidebar*/

.sidebar {
    background: #1F1B24;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}


/*Sidebar toggle button*/

.burgerMenu #menu-toggle{
    border: none;
    background: none;
}



/*Sidebar toggle button End*/

#main{
   min-height: 100vh;
   overflow: auto;
}



#mainContainer
{
  
   padding-top: 5rem;
   
}

/*Breadcrumb*/
#mainContainer .row nav li
{
   text-decoration: none;
   font-variant-caps: all-small-caps;
   font-weight: bold;
   color: #9FA6B2;
}
    #mainContainer .row nav li.active{
        color: #198754;
        display: block;
    }
    #mainContainer .row nav li a {
        color: #9FA6B2;
        text-decoration: none;
    }

    #mainContainer .row nav li.active a {
        color:#198754;
        text-decoration: none;
    }
    #mainContainer .row nav li a:hover {
        color: #198754;
        text-decoration: none;
    }
/*Breadcrumb End*/
     
