

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin";
}

*:not(.fa-solid):not(.fa):not(.e-icons):not(.fa-brands) {
    font-family: "Libre Franklin";
}


.container-fluid{

    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    transition: all .5s ease-in-out;
    overflow: hidden;
}


.sideBar {
    width: 220px;
   // z-index: 999;
    transition: all .3s ease-in-out;
    background: #17181d;

}

.main-layout{
    flex: 1;
    overflow-y: scroll;
}


body {

    background-color: #080808;
    margin: 0;
    padding: 0;
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .sideBar {
        width: 0;
        opacity: 0;
        display: none;
        transition: display .3s ease-in-out;
    }

    .main-layout {
       // margin-left: -220px;
        
    }
}



/*Sidebar*

.sidebar {
    background: #1F1B24;
    min-height: 100vh;
    width: 200px;
    position: fixed; /* Fixes the sidebar to the left *
    top: 0;
    left: 0;
    z-index: 999; /* Ensures it stays on top of the main content *
    transform: translateX(-100%); /* Hide the sidebar by default *
    transition: transform 0.3s ease; /* Animation for slide-in effect *
}

    .sidebar.active {
        transform: translateX(0); /* Slide sidebar into view *
    }

/*Sidebar End*


/*Sidebar toggle button*

.burgerMenu #menu-toggle{
    border: none;
    background: none;
}
/* Icon styles *
#menu-toggle {
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition *
}

    /* Rotate icon when active *
    #menu-toggle.active {
        transform: rotate(90deg); /* Rotate the icon 90 degrees */
    }


/*Sidebar toggle button End*

#main {

    position: relative;
    left: 0; /* No margin for the main content *
    width: 100%; /* Full width by default *
    transition: left 0.3s ease; /* Smooth transition for main content movement *
}

#mainContainer
{
  
   padding-top: 3rem;
   
} */

/*Breadcrumb*
#mainContainer .row nav li
{
   text-decoration: none;
   font-variant-caps: all-small-caps;
   font-weight: bold;
   color: #9FA6B2;
}
    #mainContainer .row nav li.active{
        color: #198754;
        display: block;
    }
    #mainContainer .row nav li a {
        color: #9FA6B2;
        text-decoration: none;
    }

    #mainContainer .row nav li.active a {
        color:#198754;
        text-decoration: none;
    }
    #mainContainer .row nav li a:hover {
        color: #198754;
        text-decoration: none;
    }
/*Breadcrumb End*/


