@model DashboardViewModel



@section CustomStyles {

    <link rel="stylesheet" href="@Url.Content("~/css/dashboard.css")" />

}


@{
    ViewData["CurrentPage"] = "Dashboard";
}



<div class="main" id="dash-main-div">
    <div class="firstDiv" id="first-div">
        <div class="row">
            <div class="col-sm total-income w-100" id="col">
                <div class="holder">
                    PHP
                </div>
                <div class="income p-0 mt-0 w-100" id="income">
                    <div class="col w-100" id="t-income">
                        <h6>Total Income</h6>
                    </div>
                    <div class="col" id="income-numbers">
                        <h5>@Model.TotalIncome.ToString("PHP#,##0")</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm total-expense" id="col">
                <div class="holder">
                    PHP
                </div>
                <div class="expense p-0 mt-0 w-100" id="expense">
                    <div class="col w-100" id="t-expense">
                        <h6>Total Expense</h6>
                    </div>
                    <div class="col" id="expense-numbers">
                        <h5>@Model.TotalExpense.ToString("PHP#,##0")</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm total-balance" id="col">
                <div class="holder">
                    PHP
                </div>
                <div class="balance p-0 mt-0 w-100" id="balance">
                    <div class="col w-100" id="t-balance">
                        <h6>Balance</h6>
                    </div>
                    <div class="col" id="balance-numbers">
                        <h5>@Model.Balance.ToString("PHP#,##0")</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="secopndDiv" id="second-div">

    </div>
</div>



